@keyframes buttonHover {
    from {
        background-color: var(--lightest);
        color: var(--darkest);
        box-shadow: 0px 0px 0px 0px var(--highlight);
    }

    to {
        background-color: var(--darkest);
        color: var(--lightest);
        box-shadow: 4px 4px 0px 4px var(--highlight);

    }
}

@-webkit-keyframes buttonHover {
    from {
        background-color: var(--lightest);
        color: var(--darkest);
        box-shadow: 0px 0px 0px 0px var(--highlight);
    }

    to {
        background-color: var(--darkest);
        color: var(--lightest);
        box-shadow: 4px 4px 0px 4px var(--highlight);
    }
}

@keyframes aHover {
    from {
        background-color: var(--lightest);
        color: var(--darkest);
        box-shadow: 0px 0px 0px 0px var(--highlight);
    }

    to {
        background-color: var(--darkest);
        color: var(--lightest);
    }
}

@-webkit-keyframes aHover {
    from {
        background-color: var(--lightest);
        color: var(--darkest);
        box-shadow: 0px 0px 0px 0px var(--highlight);
    }

    to {
        background-color: var(--darkest);
        color: var(--lightest);
    }
}